<div class="w-screen h-screen flex items-end justify-center overflow-hidden">
    <img class="-z-10 absolute h-full w-full object-cover brightness-75" src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

    <div *ngIf="showError" class="absolute top-4 left-4 bg-red-50 border border-red-200 text-sm text-red-800 rounded-lg py-4 px-8 transition-all duration-500 ease-in-out" role="alert">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="flex-shrink-0 h-4 w-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>
          </div>
          <div class="ms-4">
            <h3 class="text-sm font-semibold">
                Incorrect Email or Password
            </h3>
            <div class="mt-1 text-sm text-red-700">
              Please try again
            </div>
          </div>
        </div>
    </div>

    <div class="w-5/6 md:w-3/5 lg:w-1/3 h-fit pt-8 pb-12 px-8 bg-white rounded-t-xl">
        <p class="mb-0.5">Welcome Back</p>

        <h2 class="font-medium text-2xl">Log In to your Account</h2>

        <div class="mt-8">
            <label for="email" class="block text-sm font-medium mb-1.5">Email</label>
            <input ngDefaultControl [(ngModel)]="email" name="email" type="email" id="email" class="py-3 px-4 block w-full border-gray-300 border rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="test@monster.com">
            
            <label for="password" class="mt-6 block text-sm font-medium mb-1.5">Password</label>
            <input ngDefaultControl [(ngModel)]="password" type="password" id="password" class="py-3 px-4 block w-full border-gray-300 border rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="test@monster.com">
        </div>

        <div class="mt-3 flex justify-between items-center">
            <div class="flex items-center gap-2">
                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">
                <label for="remember" class="text-gray-500 text-sm">Remember me</label>
            </div>

            <a class="text-sm" href="#">Forgot Password?</a>
        </div>

        <button (click)="logIn()" class="mt-7 w-full py-3.5 font-medium text-white bg-black rounded-lg">Continue</button>

        <p class="mt-4 text-center text-sm font-medium">Or</p>

        <div class="mt-4 flex flex-col gap-4">
            <button (click)="googleLogIn()" type="button" class="text-gray-600 w-full border py-3 flex gap-2.5 justify-center items-center font-medium rounded-lg text-sm">
                <img class="h-4 w-4" src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png" alt="Google Logo">
                Log in with Google
            </button>

            <button (click)="twitterLogIn()" type="button" class="text-gray-600 w-full border py-3 flex gap-2.5 justify-center items-center font-medium rounded-lg text-sm">
                <img class="h-4 w-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" alt="Twitter Logo">
                Log in with Twitter
            </button>

            <button (click)="githubLogIn()" type="button" class="text-gray-600 w-full border py-3 flex gap-2.5 justify-center items-center font-medium rounded-lg text-sm">
                <img class="h-5 w-5 brightness-0" src="https://static-00.iconduck.com/assets.00/github-icon-2048x1988-jzvzcf2t.png" alt="GitHub Logo">
                Log in with GitHub
            </button>
        </div>

        <!--
        <div>
            <input type="text">
            <input type="text">

            <p>Or</p>

            <button>Log In with Google</button>
            <button>Log In with Facebook</button>
            <button>Log In with Apple</button>
        </div>
        -->
    </div>
</div>